/* Site-wide stylesheet
 *
 * All pages should include this stylesheet. It imports all bootstrap related
 * variables, mixins, and styles with proper customization.
 *
 * For special pages that want to roll out its own SCSS stylesheet, import the
 * following files so there will not be duplicated style definitions:
 *
 *      // Core variables and mixins
 *      @import "variables";
 *      @import "bootstrap-variables";
 *      @import "vendors/bootstrap/variables";
 *      @import "vendors/bootstrap/mixins";
 *      @import "mixins";
 */

// Import site-wide variables
@import "variables";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

// Import Font-Awesome Icon sets
@import "font-awesome";

// Import site-wide mixins
// @import "mixins";


// Footer

.footer {
    padding: 1em;
}


// Navbar

main {
    @include container-fixed(0);
}

$navbar-padding-top: 20px;
$navbar-padding-horizontal: 20px;
$navbar-padding-bottom: 20px;

.btn-nav-show {
    position: fixed;
    top: $navbar-padding-top;

    @media (max-width: $screen-xs-max) {
        right: 0;
    }
}

.btn-nav-collapse {
    float: right;
    margin-right: 0.5em;
}

.sidebar {
    // hide it first (ex. mobile)
    display: none;
    padding-top: $navbar-padding-top;
    padding-bottom: $navbar-padding-bottom;
    padding-left: $navbar-padding-horizontal;
    padding-right: $navbar-padding-horizontal;

    @media (min-width: $screen-sm-min) {
        // desktop
        position: fixed;
        top: 0px;
        bottom: 0;
        left: 0;
        min-width: 16%;
        z-index: 1000;
        display: block;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: $gray-lighter;
        border-right: 1px solid #eee;
    }

    @media (max-width: $screen-md-max) {
        border-bottom: 1px solid $gray-dark;
    }
}


/* Sidebar navigation */
.nav-sidebar {
    margin-right: -($navbar-padding-horizontal + 1px);  // padding + 1px border
    margin-bottom: $navbar-padding-bottom;
    margin-left: -$navbar-padding-horizontal;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

