{% extends 'base/base.html' %}

{% block title %}FastQC{% endblock title %}

{% set active="fastqc" %}

{% block extra_css %}
	<style>
		.chart {
			height: 600px;
		}
		#chart-qc-perbase {
		}
	</style>
{% endblock extra_css %}

{% block content %}
	<h2>QC Info</h2>
	<div class="table-responsive">
	<table class="table table-striped table-responsive">
		<thead>
		<tr>
			<th>Condition</th>
			<th>Sample</th>
			<th>Source</th>
			{% for module in MODULES %}
				<th>{{ module }}</th>
			{% endfor %}
		</tr>
		</thead>
		<tbody>
		{% for condition, samples in analysis_info.conditions.items() %}
			{% for sample, sources in samples.items() %}
			{% set outer_loop = loop %}
				{% for source in sources %}
					{% set qc_info = data_info.qc_info[source] %}
					<tr>
						{% if outer_loop.first and loop.first %}
							<th rowspan="{{ samples|length * 2 }}">{{ condition }}</th>
						{% endif %}
						{% if loop.first %}
							<th rowspan="2">{{ sample }}</th>
						{% endif %}
						<td><a href="{{ data_info.raw_fastqc[source] }}">{{ source }}</a></td>
						{% for module in MODULES %}
							<td>
								{% if module in qc_info %}
									<i class="fa {{ STATUS_TO_ICON_CLASS[qc_info[module]] }}"></i>
								{% else %}
									NA
								{% endif %}
								<span class="sr-only">{{ qc_info.get(module, 'NA') }}</span>
							</td>
						{% endfor %}
					</tr>
				{% endfor %}
			{% endfor %}
		{% endfor %}
		</tbody>
	</table>
	</div>

	<h2>Basic Statistics</h2>
	<div class="table-responsive">
	<table class="table table-striped table-responsive">
		<thead>
		<tr>
			<th>Condition</th>
			<th>Sample</th>
			<th>Source</th>
			<th>Total sequences</th>
			<th>Sequence length</th>
			<th>Encoding</th>
		</tr>
		</thead>
		<tbody>
		{% for condition, samples in analysis_info.conditions.items() %}
			{% for sample, sources in samples.items() %}
				{% set outer_loop = loop %}
				{% for source in sources %}
					{% set base_stat = data_info.base_stat[source] %}
					<tr>
						{% if outer_loop.first and loop.first %}
							<th rowspan="{{ samples|length * 2 }}">{{ condition }}</th>
						{% endif %}
						{% if loop.first %}
							<th rowspan="2">{{ sample }}</th>
						{% endif %}
						<td><a href="{{ data_info.raw_fastqc[source] }}">{{ source }}</a></td>
						<td>{{ "{:,d}".format(base_stat['Total Sequences']) }}</td>
						<td>{{ base_stat['Sequence length'] }}</td>
						<td>{{ base_stat['Encoding'] }}</td>
					</tr>
				{% endfor %}
			{% endfor %}
		{% endfor %}
		</tbody>
	</table>
	</div>


	<h2>Per Base Quality Plot</h2>
	<div id="chart-qc-perbase" class="chart"></div>
{% endblock content %}

{% block extra_js %}
	<script src="{{ static('js/vendors/highcharts/highcharts.js') }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ static('js/vendors/highcharts/canvas-tools.js') }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ static('js/vendors/highcharts/exporting.js') }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ static('js/vendors/highcharts/highcharts-export-clientside.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock extra_js %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript">
		var qc_perbase_data = {{ data_info.per_base_quality|tojson|safe }};
	</script>
	<script src="{{ static('js/fastqc/fastqc.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock scripts %}
