{% extends 'rna_seq/base.html' %}

{% block title %}STAR{% endblock title %}

{% block nav %}
	{% set active = "star" %}
	{% include "rna_seq/_includes/nav.html" %}
{% endblock nav %}

{% block content %}
	<h2>STAR Alignment</h2>
	<div id="vue-app">
		<!-- control the display of -->
		<div>
			<p>Display alignment statistics in:</p>
			<label class="radio-inline">
				<input type="radio" name="display_type" autocomplete="off"
							 value="percent" v-model="display_type" checked>
				Percentage
			</label>
			<label class="radio-inline">
				<input type="radio" name="display_type" autocomplete="off"
							 value="num_read" v-model="display_type">
				Number of reads
			</label>
		</div>

		<!-- Alignment table in number of reads -->
		<table class="table table-striped" v-show="display_type === 'num_read'">
			<thead>
			<tr>
				<th>Condition</th>
				<th>Sample</th>
				<th>#reads input</th>
				<th>#reads uniquely mapped</th>
				<th>#reads mapped to multiple loci</th>
				<th>#reads mapped to too many loci</th>
				<th>#reads unmapped: too many mismatches</th>
				<th>#reads unmapped: too short</th>
				<th>#reads unmapped: other</th>
				<th>#reads chimeric</th>
			</tr>
			</thead>
			<tbody>
			{% for condition, samples in analysis_info.conditions.items() %}
				{% for sample in samples %}
					<tr>
						<!-- condition -->
						{% if loop.first %}
							<th rowspan="{{ samples|length }}">{{ condition }}</th>
						{% endif %}
						<!-- sample -->
						<th>{{ sample }}</th>
						<!-- data -->
						{% for num_metric in [
						'Number of input reads',
						'Uniquely mapped reads number',
						'Number of reads mapped to multiple loci',
						'Number of reads mapped to too many loci',
						'Number of reads unmapped: too many mismatches',
						'Number of reads unmapped: too short',
						'Number of reads unmapped: other',
						'Number of chimeric reads',
					] %}
							<td>{{ '{:,d}'.format(data_info.align_stat[sample][num_metric]) }}</td>
						{% endfor %}

					</tr>
				{% endfor %}
			{% endfor %}
			</tbody>
		</table>

		<!-- Alignment table in percentage -->
		<table class="table table-striped" v-show="display_type === 'percent'">
			<thead>
			<tr>
				<th>Condition</th>
				<th>Sample</th>
				<th>input (%)</th>
				<th>uniquely mapped (%)</th>
				<th>mapped to multiple loci (%)</th>
				<th>mapped to too many loci (%)</th>
				<th>unmapped: too many mismatches (%)</th>
				<th>unmapped: too short (%)</th>
				<th>unmapped: other (%)</th>
				<th>chimeric (%)</th>
			</tr>
			</thead>
			<tbody>
			{% for condition, samples in analysis_info.conditions.items() %}
				{% for sample in samples %}
					<tr>
						<!-- condition -->
						{% if loop.first %}
							<th rowspan="{{ samples|length }}">{{ condition }}</th>
						{% endif %}
						<!-- sample -->
						<th>{{ sample }}</th>
						<!-- data -->
						<td>100%</td>
						{% for num_metric in [
							'Uniquely mapped reads %',
							'% of reads mapped to multiple loci',
							'% of reads mapped to too many loci',
							'% of reads unmapped: too many mismatches',
							'% of reads unmapped: too short',
							'% of reads unmapped: other',
							'% of chimeric reads',
						] %}
							<td>{{ '{:.2%}'.format(data_info.align_stat[sample][num_metric])
									}}</td>
						{% endfor %}

					</tr>
				{% endfor %}
			{% endfor %}
			</tbody>
		</table>
	</div><!-- /#vue-app -->


	<h2>Original output files</h2>
	{% for condition, samples in analysis_info.conditions.items() %}
		<h3>Condition: {{ condition }}</h3>
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Sample</th>
				<th>Sorted alignment result (BAM)</th>
				<th>Splice Junctions (TSV)</th>
				<th>Log files</th>
			</tr>
			</thead>
			<tbody>
			{% for sample in samples %}
				{% set file_links = data_info.raw_output[sample] %}
				<tr>
					<td>{{ sample }}</td>
					<!-- Alignment -->
					<td>
						<a href="{{ file_links['Aligned.sortedByCoord.out.bam'] }}">
							<i class="fa fa-file-o" aria-hidden="true"></i>
							<code>Aligned.sortedByCoord.out.bam</code>
						</a><br>
						<a href="{{ file_links['Aligned.sortedByCoord.out.bam.bai'] }}">
							<i class="fa fa-file-o" aria-hidden="true"></i>
							<code>Aligned.sortedByCoord.out.bam.bai</code>
						</a>
					</td>
					<!-- Splice Junctions -->
					<td>
						<a href="{{ file_links['SJ.out.tab'] }}">
							<i class="fa fa-file-o" aria-hidden="true"></i>
							<code>SJ.out.tab</code>
						</a>
					</td>
					<!-- Log files -->
					<td>
						{% for f in ['Log.out', 'Log.final.out', 'Log.progress.out'] %}
							<a href="{{ file_links[f] }}">
								<i class="fa fa-file-o" aria-hidden="true"></i>
								<code>{{ f }}</code>
							</a>{% if not loop.last %}<br>{% endif %}
						{% endfor %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endfor %}
{% endblock content %}

{% block js %}
	{{ super() }}
	<script src="{{ static('js/vendors/vue.min.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock js %}

{% block scripts %}
	{{ super() }}
	<script>
		var vm = new Vue({
			el: '#vue-app',
			data: {
				display_type: 'percent'
			}
		});
	</script>
{% endblock scripts %}
