{% extends 'rna_seq/base.html' %}

{% block title %}STAR{% endblock title %}

{% block nav %}
	{% set active = "star" %}
	{% include "rna_seq/_includes/nav.html" %}
{% endblock nav %}

{% block extra_css %}
	<style>
		.chart {
			height: 600px;
		}
		#chart-qc-perbase {
		}
	</style>
{% endblock extra_css %}

{% block content %}
	<h2>STAR Alignment</h2>
	<div id="vue-app">
		<!-- control the display of -->
		<div>
			<p>Display alignment statistics in:</p>
			<label class="radio-inline">
				<input type="radio" name="display_type" autocomplete="off"
							 value="percent" v-model="display_type" checked>
				Percentage
			</label>
			<label class="radio-inline">
				<input type="radio" name="display_type" autocomplete="off"
							 value="num_read" v-model="display_type">
				Number of reads
			</label>
		</div>

		<div v-show="display_type === 'num_read'">
			<h3>Plot</h3>
			<div id="chart-align-stat-num-read" class="chart"></div>
		</div>

		<!-- Alignment table in number of reads -->
		<div v-show="display_type === 'num_read'">
			<h3>Table</h3>
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Condition</th>
					<th>Sample</th>
					<th>#reads input</th>
					<th>#reads uniquely mapped</th>
					<th>#reads mapped to multiple loci</th>
					<th>#reads mapped to too many loci</th>
					<th>#reads unmapped: too many mismatches</th>
					<th>#reads unmapped: too short</th>
					<th>#reads unmapped: other</th>
					<th>#reads chimeric</th>
				</tr>
				</thead>
				<tbody>
				{% for condition, samples in analysis_info.conditions.items() %}
					{% for sample in samples %}
						<tr>
							<!-- condition -->
							{% if loop.first %}
								<th rowspan="{{ samples|length }}">{{ condition }}</th>
							{% endif %}
							<!-- sample -->
							<th>{{ sample }}</th>
							<!-- data -->
							{% for num_metric in NUM_READ_METRICS %}
								<td>{{ '{:,d}'.format(data_info.align_stat[sample][num_metric]) }}</td>
							{% endfor %}

						</tr>
					{% endfor %}
				{% endfor %}
				</tbody>
			</table>
		</div>

		<!-- Alignment table in percentage -->
		<div v-show="display_type === 'percent'">
			<h3>Table</h3>
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Condition</th>
					<th>Sample</th>
					<th>input (%)</th>
					<th>uniquely mapped (%)</th>
					<th>mapped to multiple loci (%)</th>
					<th>mapped to too many loci (%)</th>
					<th>unmapped: too many mismatches (%)</th>
					<th>unmapped: too short (%)</th>
					<th>unmapped: other (%)</th>
					<th>chimeric (%)</th>
				</tr>
				</thead>
				<tbody>
				{% for condition, samples in analysis_info.conditions.items() %}
					{% for sample in samples %}
						<tr>
							<!-- condition -->
							{% if loop.first %}
								<th rowspan="{{ samples|length }}">{{ condition }}</th>
							{% endif %}
							<!-- sample -->
							<th>{{ sample }}</th>
							<!-- data -->
							<td>100%</td>
							{% for num_metric in PERCENT_METRICS %}
								<td>{{ '{:.2%}'.format(data_info.align_stat[sample][num_metric]) }}</td>
							{% endfor %}
						</tr>
					{% endfor %}
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div><!-- /#vue-app -->


	<h2>Original output files</h2>
	{% for condition, samples in analysis_info.conditions.items() %}
		<h3>Condition: {{ condition }}</h3>
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Sample</th>
				<th>Sorted alignment result (BAM)</th>
				<th>Splice Junctions (TSV)</th>
				<th>Log files</th>
			</tr>
			</thead>
			<tbody>
			{% for sample in samples %}
				{% set file_links = data_info.raw_output[sample] %}
				<tr>
					<td>{{ sample }}</td>
					<!-- Alignment -->
					<td>
						<a href="{{ file_links['Aligned.sortedByCoord.out.bam'] }}">
							<i class="fa fa-file-o" aria-hidden="true"></i>
							<code>Aligned.sortedByCoord.out.bam</code>
						</a><br>
						<a href="{{ file_links['Aligned.sortedByCoord.out.bam.bai'] }}">
							<i class="fa fa-file-o" aria-hidden="true"></i>
							<code>Aligned.sortedByCoord.out.bam.bai</code>
						</a>
					</td>
					<!-- Splice Junctions -->
					<td>
						<a href="{{ file_links['SJ.out.tab'] }}">
							<i class="fa fa-file-o" aria-hidden="true"></i>
							<code>SJ.out.tab</code>
						</a>
					</td>
					<!-- Log files -->
					<td>
						{% for f in ['Log.out', 'Log.final.out', 'Log.progress.out'] %}
							<a href="{{ file_links[f] }}">
								<i class="fa fa-file-o" aria-hidden="true"></i>
								<code>{{ f }}</code>
							</a>{% if not loop.last %}<br>{% endif %}
						{% endfor %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endfor %}
{% endblock content %}

{% block js %}
	{{ super() }}
	<script src="{{ static('js/vendors/vue.min.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock js %}

{% block extra_js %}
	{% include 'base/_includes/highcharts_js_libs.html' %}
{% endblock extra_js %}

{% block scripts %}
	{{ super() }}
	<script>
		var vm = new Vue({
			el: '#vue-app',
			data: {
				display_type: 'percent'
			},
			watch: {
				display_type: function(val, OldVal) {
					$('.chart', 'article').each(function(){
						$(this).highcharts().reflow();
					});
				}
			}
		});
		$('#chart-align-stat-num-read').highcharts({
			chart: {
				type: 'bar'
			},
			title: {
				text: 'STAR alignment statistics'
			},
			xAxis: {
				categories: {{ analysis_info.samples|list|tojson|safe }},
				plotBands: {{ plot_num_read.condition_bands|tojson|safe }}
			},
			yAxis: {
				min: 0,
				title: {
					text: 'Number of reads'
				}
			},
			legend: {
				reversed: true
			},
			plotOptions: {
				series: {
					stacking: 'normal'
				},
				animation: false
			},
			series: {{ plot_num_read.data|tojson|safe }},
			navigation: {
				menuItemStyle: {
					fontSize: '1em'
				}
			},
			credits: {
				text: "Generated by BioCloud Report",
				href: "http://biocloud.tw"
			}
		});
		$(function() {
		});
	</script>
{% endblock scripts %}
