<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock title %} | BioCloud Report</title>

	<!-- Custom styles for this template -->
	<link href="{{ static('css/site.css') }}" rel="stylesheet">
	{% block extra_css %}{% endblock extra_css %}
</head>
<body>
	<main>
		<header>
			{% block nav %}
			{% include "_includes/nav.html" %}
			{% endblock nav %}
		</header>
		<article class="col-sm-10 col-sm-offset-2">
			<div class="container-fluid">
			{% block content %}{% endblock content %}
			</div>
			{% block footer %}
			{% include "_includes/footer.html" %}
			{% endblock footer %}
		</article>
		<button class="btn btn-default btn-nav-show">Show Nav</button>
	</main>
	{% block js %}
		<script src="{{ static('js/vendors/jquery.js') }}" type="text/javascript" charset="utf-8"></script>
		<script src="{{ static('js/vendors/bootstrap.js') }}" type="text/javascript" charset="utf-8"></script>
	{% endblock js %}
	{% block extra_js %}
	{% endblock extra_js %}
	{% block scripts %}
	<script type="text/javascript">
		$(function() {
			$article = $('article');
			$sidebar = $('.sidebar');
			$btnNavShow = $('.btn-nav-show');
			$('.btn-nav-collapse').click(function() {
				$article.removeClass('col-sm-10 col-sm-offset-2');
				$sidebar.hide();
				$btnNavShow.show();
			});
			$btnNavShow.click(function() {
				$article.addClass('col-sm-10 col-sm-offset-2');
				$sidebar.show();
				$btnNavShow.hide();
			});
		});
	</script>
	{% endblock scripts %}
</body>
</html>
